<style>
  body {
    background: url("https://images.unsplash.com/photo-1557682224-5b8590cd9ec5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1430&q=80");
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
</style>
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1> <a class="" href="/me">quirk.</a> </h1>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <p>Welcome, <strong>{{user.username}}</strong> | <a href="/settings">Change
          Username</a> | <a class="button logout " id="login-redirect" href="/">Logout</a>


      </p>

    </ul>
  </div>
</nav>



<div> </div>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>

        <form class="clearfix mb-4">
          <div class="form-group">
            <h3><label for="board-text">Create A Board.</label></h3>

            <input type="text" id="board-text" class="form-control" aria-describedby="board-text"
              placeholder="Enter Board Text">
          </div>
          <button id="submit" data-value={{user.id}} class="btn btn-warning float-right">Submit</button>
        </form>
        <h3>Boards.</h3>
        <ul id="board-list" class="list-group">
          {{#each boards}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="board/{{this.id}}">{{this.text}}</a>
            <input data-id="{{this.id}}" type="text" id="task-text" class="form-control" aria-describedby="task-text"
              placeholder="Enter Task Text">
            <button class="btn btn-danger float-right deleteBoard">ｘ</button>
            <button id="{{this.id}}" class="btn btn-warning float-right addTask">Add Task</button>
            <ul id="task-list" class="list-group">
              {{#each dataValues.Tasks}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="task/{{this.id}}">{{this.text}}</a>
                <button id={{this.id}} class="btn btn-danger float-right deleteTask">ｘ</button>
                {{!-- new button here --}}
                <input type="text" data-value="userTask{{this.id}}" class="form-control" aria-describedby="task-text"
                  placeholder="Assing User">
                <button id="userTask{{this.id}}" class=" btn btn-success assignUser">Assign User</button>
                <p>{{this.assignedUser}}</p>
                {{!--  --}}
              </li>
              {{/each}}
            </ul>
            {{!--  --}}
            <input type="text" data-value="moreUser{{this.id}}" class="form-control" aria-describedby="task-text"
              placeholder="Add New User (to access this Board)">
            <button id="moreUser{{this.id}}" class=" btn btn-success addUser">Add User</button>
            {{!--  --}}
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>



<footer class="footer">

  <i class="fas fa-copyright    "></i> 2019 quirk.

</footer>