<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default">
  <a class="navbar-brand" href="/">
    <h1>quirk.</h1>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h1>{{user.username}}</h1>
        <h2>Welcome!</h2>
        <form class="clearfix mb-4">
          <div class="form-group">
            <label for="board-text">Board Text</label>
            <input type="text" id="board-text" class="form-control" aria-describedby="board-text"
              placeholder="Enter Board Text">
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Boards:</h3>
        <ul id="board-list" class="list-group">
          {{#each boards}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="board/{{this.id}}">{{this.text}}</a>
            <input data-id="{{this.id}}" type="text" id="task-text" class="form-control" aria-describedby="task-text"
              placeholder="Enter Task Text">
            <button class="btn btn-danger float-right deleteBoard">ｘ</button>
            <button id="{{this.id}}" class="btn btn-success float-right addTask">Add Task</button>
            <ul id="task-list" class="list-group">
              {{#each dataValues.Tasks}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="task/{{this.id}}">{{this.text}}</a>
                <button id={{this.id}} class="btn btn-danger float-right deleteTask">ｘ</button>
              </li>
              {{/each}}
            </ul>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="form login-form foot">
  <p>Logged in as <strong>{{user.username}}</strong></p>
  <div class="buttons">
    <a class="button logout" id="login-redirect" href="/">Logout</a>
  </div>
</div>